<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

        <title>Romeo's Python Blog</title>

        <link rel="stylesheet" href="../static/pure-min.css">
        <link rel="stylesheet" href="../static/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-4">
              <a><img src="../static/img/code.jpeg" alt="" class="pure-img-responsive"></a>
              <div class="header-index">
                    <h1 class="brand-title">Romeo Rauta</h1>
                    <h2 class="brand-tagline">Python-Flask Engineer</h2>

                    <nav class="nav">
                        <ul class="nav-list">
                          <li class="nav-item"><a class="pure-button" href="{{ url_for('home') }}">Home</a></li>
                          <li class="nav-item"><a class="pure-button" href="{{ url_for('articles') }}">Articles</a></li>
                          <li class="nav-item"><a class="pure-button" href="{{ url_for('projects') }}">Projects</a></li>
                          <li class="nav-item"><a class="pure-button" href="{{ url_for('about') }}">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="content pure-u-1 pure-u-md-3-4">
                <div>
                    <div>
                    <h1>Write your article and submit to database.</h1>
                    <form method="POST" action="/write">
                      <input title="User name" placeholder="Enter your name" type="text" name="user_name" required><br>
                      <input title="Article title" placeholder="Enter your article title" type="text" name="article_title" required><br>
                      <textarea class="article" title="Article body" placeholder="Enter your text" type="text" name="article_body" rows="10" cols="50" required></textarea><br>
                      <!-- <input title="Date posted" placeholder="Enter date" type="date" name="date_posted" required><br> -->
                      <button type="submit"> Submit </button>
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
